.propertyPage{
    /* background-color: yellow; */
    margin: 30px 150px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    min-height: 80vh;
    /* display: flex;
    justify-content: center; */
}

.pro-cover-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: rgb(196, 202, 202);
}

.pro-cover-img > img{
    height: 100%;
    /* width: 100%; */
}

.tab-cont{
    margin-top: 30px;
}

.short-des{
    font-weight: 700;
    padding: 15px 20px;
    margin-top: 25px;
}

.short-des > div{
    margin-bottom: 10px;
}

.image-set{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.set-img{
    margin: 10px;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.set-img > img{
    width: 100%;
    
}

.floor-plan{
    margin-top: 20px;
    font-size: 18px;
}

.fav-btn-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
}

.floor-img{
    width: 50%;
}

.floor-img > img{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .propertyPage{
        /* background-color: yellow; */
        margin: 10px 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        min-height: 80vh;
        /* display: flex;
        justify-content: center; */
    }

    .pro-cover-img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
        background-color: rgb(196, 202, 202);
    }

    .pro-cover-img > img{
        height:auto;
        width: 100%;
    }

    .floor-plan{
        margin-top: 20px;
        font-size: 18px;
    }

    .floor-img{
        width: 100%;
    }

    .floor-img > img{
        width: 100%;
    }
}
